.options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  gap: 4px;
  cursor: pointer;
  margin-top: 15px;
  width: inherit;
  max-height: 250px;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
}

.option {
  display: flex;
  gap: 6px;
  padding: 6px 8px 10px;
  user-select: none;
}

.checked {
  background-color: #e1e1e1;
}

.deselect-all {
  background: none;
  border: none;
  padding: 8px 16px;
  outline: none;
  color: #0a3d70;
  cursor: pointer;
  align-self: flex-end;
}

.select-wrapper {
  width: 250px;
  position: relative;
}

.hiddenSelect {
  display: none;
}
